{% extends '../layouts/base.html' %}

{% block main %}
<br>
<h1 style="text-align:center; font-size: 2.5rem; font-weight: 700; color: #D35400;" class="mb-4" >CHI TIẾT GÓP Ý</h1>
<div class="container" style="display:flex; justify-content:center;">
  <div style="width: 80%; background-color: #FFF8E1; border: 2px solid #E67E22; border-radius: 15px; padding: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
    {% if request.user.is_superuser %}
    <div style="font-size: 1rem; font-weight: 600; margin-bottom: 10px;">
      <span style="color: #D35400;">Người gửi:</span> {{ letter.user.first_name }} {{ letter.user.last_name }}
    </div>
    {% endif %}
    <div style="font-size: 1rem; font-weight: 600; margin-bottom: 10px;">
      <span style="color: #D35400;">Chủ đề:</span> {{ letter.topic.name }}
    </div>
    <div style="font-size: 1rem; font-weight: 600; margin-bottom: 10px;">
      <span style="color: #D35400;">Nội dung:</span>
      <p style="margin: 10px 0 0; line-height: 1.6; font-weight: 400;">{{ letter.content }}</p>
    </div>
    <div style="font-size: 1rem; font-weight: 600; margin-bottom: 10px;">
      <span style="color: #D35400;">Thời gian:</span> {{ letter.created_at|date:"H:i, d/m/yy" }}
    </div>
    <div style="font-size: 1rem; font-weight: 600; margin-bottom: 20px;">
      <span style="color: #D35400;">Trạng thái:</span>
      <span style="color: {% if letter.status == 'Đang xử lý' %}#E67E22{% else %}#27AE60{% endif %}; font-weight: 700;">
        {{ letter.status }}
      </span>
    </div>
    <center>
      {% if request.user.is_superuser and letter.status == 'Đang xử lý' %}
      <form method="post" form-status>
        {% csrf_token %}
        <button type="submit" class="btn btn-success mt-3 text-light pe-5 ps-5 pt-2 pb-2" style="border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
          Đã xử lý
        </button>
      </form>
      {% endif %}
      <a href="{% if request.user.is_superuser %}/management/letter/{% else %}/letters/{% endif %}"
         class="btn btn-info bg-btn mt-3 text-light pe-5 ps-5 pt-2 pb-2"
         style="border-radius: 8px; background-color: #3498DB; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
        {% if request.user.is_superuser %}Quản lý hòm thư{% else %}Quay lại hòm thư{% endif %}
      </a>
    </center>
  </div>
</div>
<br><br>

{% load static %}
<script src="{% static 'scripts/letter_detail.js' %}"></script>
{% endblock %}
