{% extends '../layouts/base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'styles/table.css' %}">

<br>
<h1 style="text-align: center; font-size: 2rem; font-weight: bold; color: #D35400;">Các yêu cầu nghỉ phép</h1>
{% include 'partials/filter_dayoff.html' %}
<br>
<table class="table table-hover table-bordered custom-border" style="border-radius: 10px; overflow: hidden;">
  <thead class="bg-tab text-white" style="background-color: #E67E22;">
    <tr>
      <th scope="col" class="text-center" >Họ tên</th>
      <th scope="col" class="text-center" >Ngày bắt đầu</th>
      <th scope="col" class="text-center" >Ngày kết thúc</th>
      <th scope="col" class="text-center" >Lý do</th>
      <th scope="col" class="text-center" >Minh chứng</th>
      <th scope="col" class="text-center" >Trạng thái</th>
      <th scope="col" class="text-center" >Duyệt</th>
    </tr>
  </thead>
  <tbody>
    {% for rq in page_obj %}
      <tr class="table-row">
        <td class="text-center align-middle border-cell">{{ rq.user.first_name }} {{ rq.user.last_name }}</td>
        <td class="text-center align-middle border-cell">{{ rq.start_date|date:"d/m/Y" }}</td>
        <td class="text-center align-middle border-cell">{{ rq.end_date|date:"d/m/Y" }}</td>
        <td class="align-middle border-cell">{{ rq.reason }}</td>
        <td class="text-center align-middle border-cell">
          {% if rq.image %}
          <a href="{{ rq.image.url }}" target="_blank" style="text-decoration: none;">
            <button class="btn btn-secondary" style="background-color: #E67E22; border-color: #E67E22; color: white;">
              Xem ảnh
            </button>
          </a>
          {% else %}
          <span>Không có</span>
          {% endif %}
        </td>
        <td class="text-center align-middle border-cell">
          {% if rq.status == 'approved' %}
          <span style="color: green; font-weight: bold;">Đã duyệt</span>
          {% elif rq.status == 'pending' %}
          <span style="color: orange; font-weight: bold;">Đang chờ</span>
          {% else %}
          <span style="color: red; font-weight: bold;">Từ chối</span>
          {% endif %}
        </td>
        <td class="border-cell">
          {% if rq.status == 'pending' %}
          <form method="post">
            {% csrf_token %}
            <center>
              <button class="btn bg-btn text-light" name="accept" value="{{ rq.id }}">Duyệt</button>
              <button class="btn bg-btn-light" name="refuse" value="{{ rq.id }}">Từ chối</button>
            </center>
          </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}