{% extends '../layouts/base.html' %}

{% block main %}
<br><br><br>
<h1 style="text-align:center; font-weight: 400; text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5);" class="mb-4">ĐĂNG NHẬP</h1>
<div class="container" style="display:flex; justify-content:center">
    <form method="POST" style="width:50%">
        {% csrf_token %}
        {{form_li.as_p}}
        <center>
            <button class="btn btn-info bg-btn mt-3 text-light pe-5 ps-5 pt-2 pb-2">Đăng nhập</button>
        </center>
    </form>
</div>

{% load static %}
<script src="{% static 'scripts/sign_in_up.js' %}"></script>

{% endblock %}