{% extends '../layouts/base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'styles/management.css' %}">
<br> 
<h1 style="text-align: center; font-size: 2rem; font-weight: bold; color: #D35400;">DASHBOARD</h1>
<div class="container mt-4 d-flex justify-content-center">
  <div class="w-100 row">
    <div class="col-3 dashboard-right">
      <div>
        <a href="employee">
          <h4 class="text-center text-dark">TỔNG NHÂN VIÊN</h4>
          <div class="info text-center">{{ count_emp }}</div>
          <div class="d-flex justify-content-between px-2">
            <div class="text-dark" style="font-size: 21px;">{{ count_emp_male }}<i class="fa-solid fa-mars ms-1" style="color: #FF7043;"></i></div>
            <div class="text-dark" style="font-size: 21px;">{{ count_emp_female }}<i class="fa-solid fa-venus ms-1" style="color: #FF7043;"></i></div>
          </div>
        </a>
      </div>
      <div>
        <a href="employee">
          <h4 class="text-center text-dark">TỔNG PHÒNG BAN</h4>
          <div class="info text-center">{{ count_dpm }}</div>
        </a>
      </div>
      <div>
        <a href="dayoff/?status=Đã+duyệt">
          <h4 class="text-center text-dark">NGHỈ PHÉP HÔM NAY</h4>
          <div class="info text-center">{{ count_leave_today }}</div>
        </a>
      </div>
    </div>
    <div class="col-9 dashboard-left">
      <div class="header">
        <h4 class="text-center">PHÒNG BAN</h4>
      </div>
      <div class="body mb-4">
        <div class="d-flex justify-content-between">
          <div>
            <a href="employee/?department=Marketing">
              <div class="title text-center">Marketing</div>
              <div class="info text-center text-dark">{{ mkt_work }}/{{ count_mkt }} <i class="fa-regular fa-user"></i></div>
            </a>
          </div>
          <div>
            <a href="employee/?department=Tài+chính">
              <div class="title text-center">Tài chính</div>
              <div class="info text-center text-dark">{{ taichinh_work }}/{{ count_taichinh }} <i class="fa-regular fa-user"></i></div>
            </a>
          </div>
          <div>
            <a href="employee/?department=Nhân+sự">
              <div class="title text-center">Nhân sự</div>
              <div class="info text-center text-dark">{{ nhansu_work }}/{{ count_nhansu }} <i class="fa-regular fa-user"></i></div>
            </a>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <a href="employee/?department=IT">
              <div class="title text-center">IT</div>
              <div class="info text-center text-dark">{{ it_work }}/{{ count_it }} <i class="fa-regular fa-user"></i></div>
            </a>
          </div>
          <div>
            <a href="employee/?department=Thiết+kế">
              <div class="title text-center">Thiết kế</div>
              <div class="info text-center text-dark">{{ thietke_work }}/{{ count_thietke }} <i class="fa-regular fa-user"></i></div>
            </a>
          </div>
          <div>
            <a href="employee/?department=Sản+xuất">
              <div class="title text-center">Sản xuất</div>
              <div class="info text-center text-dark">{{ sanxuat_work }}/{{ count_sanxuat }} <i class="fa-regular fa-user"></i></div>
            </a>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div>
            <a href="employee/?department=Kinh+doanh">
              <div class="title text-center">Kinh doanh</div>
              <div class="info text-center text-dark">{{ kinhdoanh_work }}/{{ count_kinhdoanh }} <i class="fa-regular fa-user"></i></div>
            </a>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="d-flex justify-content-between" style="align-items: center;">
          <h4 class="text-center mt-5">CHẤM CÔNG</h4>
          <div class="date-now">{{ today| date:"l, d/m/Y" }}</div>
        </div>
      </div>
      <div class="body time-keeping">
        <div class="d-flex justify-content-between w-100">
          <div>
            <a href="sheet/?status=Đúng+Giờ&start-date={{ today|date:'Y-m-d' }}" style="align-items: center;" class="w-100 h-100 d-flex justify-content-between">
              <div class="title">Đúng giờ: </div>
              <div class="count">{{ count_ontime }}</div>
            </a>
          </div>
          <div>
            <a href="sheet/?status=Đến+Muộn&start-date={{ today|date:'Y-m-d' }}" style="align-items: center;" class="w-100 h-100 d-flex justify-content-between">
              <div class="title">Đi muộn: </div>
              <div class="count">{{ count_late }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>Thư chưa xử lý: {{ letter_pending }}</div>
<div>Yêu cầu nghỉ đang chờ: {{ day_off_pending }}</div>
<br>
{% endblock %}
