{% extends 'layouts/base.html' %}

{% block main %}
<br>
<h1 style="text-align: center;color: #D35400;">Hồ sơ {{ user.first_name }} {{ user.last_name }}</h1>
<div class="row mt-3" style="justify-content: space-between;">
  <div class="col-3">
    <div class="d-flex justify-content-center">
      <img src="{{ user.profile.image.url }}" alt="Ảnh nhân viên" style="width: 90%; aspect-ratio: 1/1; overflow: hidden; object-fit: cover;">
    </div>
  </div>
  <div class="col-6" style="font-size: 18px;">
    <div class="row">
      <div class="col-4" style="color: #D35400;">
        <div class="mb-2">Mã NV:</div>
        <div class="mb-2">Họ tên:</div>
        <div class="mb-2">CCCD:</div>
        <div class="mb-2">Giới tính:</div>
        <div class="mb-2">Ngày sinh:</div>
        <div class="mb-2">Địa chỉ:</div>
        <div class="mb-2">Điện thoại:</div>
        <div class="mb-2">Nhân viên phòng:</div>
        <div class="mb-2">Chức vụ:</div>
      </div>
      <div class="col-8">
        <div class="mb-2">{{ user.id }}</div>
        <div class="mb-2">{{ user.first_name }} {{ user.last_name }}</div>
        <div class="mb-2">{{ user.profile.cccd }}</div>
        <div class="mb-2">{{ user.profile.gender }}</div>
        <div class="mb-2">{{ user.profile.dob|date:"d/m/Y" }}</div>
        <div class="mb-2">{{ user.profile.address }}</div>
        <div class="mb-2">{{ user.profile.phone_number }}</div>
        <div class="mb-2">{{ user.profile.position.department.name }}</div>
        <div class="mb-2">{{ user.profile.position.name }}</div>
      </div>
    </div>
  </div>
  <div class="col-3">
  </div>
</div>
<br>
<div class="row ms-4" style="font-size: 18px;">
  <div class="col-2" style="color: #D35400;">
    <div class="mb-2">Bằng cấp:</div>
    <div class="mb-2">Chuyên ngành:</div>
    <div class="mb-2">Email cá nhân:</div>
    <div class="mb-2">Ngày vào làm:</div>
    <div class="mb-2">Thời gian hợp đồng:</div>
  </div>
  <div class="col-10">
    <div class="mb-2">{{ user.profile.degree }}</div>
    <div class="mb-2">{{ user.profile.major }}</div>
    <div class="mb-2">{{ user.email }}</div>
    <div class="mb-2">{{ user.date_joined|date:"d/m/Y" }}</div>
    <div class="mb-2">{{ user.profile.contract_period }}</div>
  </div>
</div>
{% if request.user.is_superuser %}
<center>
  <a href="/management/employee/update/{{ user.username }}" class="text-light btn btn-info bg-filter"><i class="fa-solid fa-user-pen me-2"></i>Sửa thông tin</a>
</center>
{% endif %}
<br><br>

{% endblock %}