{% extends '../layouts/base.html' %}

{% load humanize %}
{% block main %}
<br>
<h1 style="text-align: center; font-size: 2rem; font-weight: bold; color: #D35400; ">BẢNG LƯƠNG NHÂN VIÊN</h1>
{% include 'partials/filter_salary.html' %}
<br>

<table class="table table-hover table-bordered custom-border" style="border-radius: 10px; overflow: hidden;">
  <thead class="bg-tab text-white" style="background-color: #E67E22;">
    <tr>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 2%">STT</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 10%">Họ tên</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Lương cơ bản</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Số công chuẩn</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số ngày nghỉ có phép</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số công hưởng lương</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Lương ngày công</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số giờ tăng ca</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Lương tăng ca</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Thưởng chuyên cần</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 6%">Số giờ đi trễ</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Phạt đi trễ</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Khấu trừ BHXH</th>
      <th scope="col" class="text-center" style="vertical-align: middle;">Thuế TNCN</th>
      <th scope="col" class="text-center" style="vertical-align: middle; width: 8%">Thực lĩnh</th>
    </tr>
  </thead>
  <tbody>
    {% for sheet in sheets %}
    <tr style="transition: background-color 0.3s;">
      <td class="text-center align-middle border-cell">{{ forloop.counter }}</td>
      <td class="text-center align-middle border-cell">
        <a href="/profile/{{sheet.user__username}}/" class="link-highlight">{{ sheet.user__first_name }} {{ sheet.user__last_name }}</a></td>
      <td class="text-center align-middle border-cell">{{ sheet.total_salary|intcomma }}</td>
      <td class="text-center align-middle border-cell">{{ 26 }}</td>
      <td class="text-center align-middle border-cell">{{ sheet.approved_days_off }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.att_day }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.real_salary|intcomma }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.ot_sum }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.ot_sal|intcomma }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.awrd|intcomma }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.late_time }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.neg_sal|intcomma }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.bhxh|intcomma }} </td>
      <td class="text-center align-middle border-cell">{{ sheet.tncn|intcomma }} </td>
      <td class="text-center align-middle border-cell" style="color: #D35400; font-weight: bold;">{{ sheet.real_sal|intcomma }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>

{% include 'partials/paginator.html' %}

<style>
  /* Màu nền cam nhạt và hiệu ứng hover */
  .table-bordered tbody tr:nth-child(odd) {
    background-color: #FFF3E0;
  }

  .table-bordered tbody tr:nth-child(even) {
    background-color: #FFFFFF;
  }

  .table-hover tbody tr:hover {
    background-color: #FFE0B2;
  }

  /* Header bảng màu cam đậm */
  .bg-tab {
    background-color: #E67E22 !important;
    color: white !important;
  }

  /* Border khung ngoài của bảng */
  .custom-border {
    border: 3px solid #000000; /* Border ngoài đổi sang màu đen */
    border-radius: 10px; /* Bo tròn các góc của khung ngoài */
  }

  /* Border cho từng ô */
  .border-cell {
    border: 1px solid #000000; /* Đổi màu viền từng ô sang màu đen */
  }

  /* Liên kết với màu cam */
  .link-highlight {
    color: #E67E22;
    font-weight: 500;
    text-decoration: none;
  }

  .link-highlight:hover {
    color: #D35400;
    text-decoration: underline;
  }

  /* Border hàng cuối cùng */
  .table-bordered tbody tr:last-child {
    border-bottom: 2px solid #000000; /* Đổi màu viền hàng cuối sang màu đen */
  }
</style>


{% endblock %}
