{% extends '../layouts/base.html' %}
{% block main %}
<br>
<h1 style="text-align:center" class="mb-3">Chỉnh sửa hồ sơ {{ user.first_name }} {{ user.last_name }}</h1>
<div class="container" style="display:flex; justify-content:center">
    <form method="POST" style="width:60%">
        {% csrf_token %}
        {{ form_e.as_p }}
        {{ form_p.as_p }}
        <center>
            <button class="btn btn-info bg-btn pe-5 ps-5">Cập nhật</button>
        </center>
    </form>
</div>
<br><br><br>
{% endblock %}