{% extends '../layouts/base.html' %}
{% block main %}
<br>
<h1 style="text-align: center; font-size: 2rem; font-weight: bold; color: #D35400; " class="mb-3">Chỉnh sửa hồ sơ {{ request.user.first_name }} {{ request.user.last_name }}</h1>
<div class="container" style="display:flex; justify-content:center">
    <form method="POST" style="width:60%">
        {% csrf_token %}
        {{form_user.as_p}}
        {{ form_pr.as_p }}
        <center>
            <button class="btn btn-info bg-btn pe-5 ps-5">Cập nhật</button>
        </center>
    </form>
</div>
<br><br><br>
{% endblock %}
